<div class="my-container mx-auto" *ngIf="product">
  <div class="row g-0">
    <!-- Profile Image of Product -->
    <div class="col-4 p-4">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/{{ imageIndex }}.jpg"
          alt=""
          class="w-100"
        />
      </div>

      <div
        class="image-thumbnails mt-4 d-flex justify-content-between align-items-center"
      >
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/1.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 1"
        />
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/2.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 2"
        />
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/3.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 3"
        />
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/4.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 4"
        />
        <img
          src="../../assets/Images/{{ product.productCategory.subCategory }}/{{
            product.id
          }}/5.jpg"
          alt="Thumbnail Image"
          (click)="imageIndex = 5"
        />
      </div>
    </div>
  </div>
</div>
